body {
	text-align: center;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

span {
	font-size: 12px;
	color: red;
}

canvas {
	border-radius: 20px;
	border-color:darkblue;
	background-image:  url(night-sky.jpeg);
}